* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgb(0,228,255);
}

    

.header1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    

header {
    background: #ff0000;
    color: #f6ff00;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    float: left;
    font-size: 50px;
}

header h1 {
    float: left;
    font-size: 50px;
}

header nav {
    float: right;
    font-size: 20px;
   
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-left: 20px;
}

header ul li a {
    color: #00ddff;
    text-decoration: none;
}



.container {
    margin: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .contenedor {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

footer {
    background: #ffffff;
    color: #000000;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}
.footer1 {
    text-align: center;
}
